In [2]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
sp = pd.read_csv("SRC_projects/Speed Dating Data.csv", encoding= "unicode_escape") #encoding= "unicode_escape" nous permet ici de lire le dataset, l'encodage par défaut est UTF-8

print("total of rows: {}".format(sp.shape[0]))
print("total of columns: {}".format(sp.shape[1]))
print("Percentage of missing values by column: ")
(sp.isnull().sum()*100)/sp.shape[0]

total of rows: 8378
total of columns: 195
Percentage of missing values by column:

iid          0.000000
id           0.011936
gender       0.000000
idg          0.000000
condtn       0.000000
              ...
attr5_3     75.936978
sinc5_3     75.936978
intel5_3    75.936978
fun5_3      75.936978
amb5_3      75.936978
Length: 195, dtype: float64

In [4]:
# Après avoir fait un premier tour des colonnes, j'ai listé les colonnes que je souhaite déjà supprimer, car elles ne me seront pas utiles pour mon analyse.
columns_to_drop = [
    "positin1",
    "field_cd",
    "undergra",
    "mn_sat",
    "tuition",
    "zipcode",
    "career_c"
] #elles sont soit déja représenté par une autre colonne, soit inutile selon moi pour la future analyse
sp = sp.drop(columns_to_drop, axis=1)

In [5]:
sp.columns = sp.columns.map(lambda x: x.capitalize()) # je rajoute une majuscule sur chaque nom de colonne

#les colonnes inutiles supprimées, je décide de couper mon dataset et de procéder à un nettoyage:
#renommer les colonnes pour plus de clarté
#remplacer certaines valeurs numériques par leur réelle signification
#nettoyage des 62 premières colonne
sp = sp.rename(columns={     
    "Condtn":"Condition",
    "Pid":"Partner iid",
    "Int_corr":"Correlation of interests",
    "Age_o":"Partner age",
    "Race_o":"Partner race",
    "Dec_o": "Decision",
}) 

sp["Gender"] = sp["Gender"].replace({0:"Female", 1:"Male"})
sp["Condition"] = sp["Condition"].replace({1:"limited choice", 2:"extensive choice"})
sp['Match'] = sp['Match'].replace({0:"no", 1:"yes"}) # colonne match
sp["Samerace"] = sp["Samerace"].replace({0:"no", 1:"yes"}) #samerace
sp["Decision"] = sp["Decision"].replace({0:"no", 1:"yes"})

In [6]:
sp['Partner race'] = sp['Partner race'].replace({1:"Black/African American",
                                                 2:"European/Caucasian-American",
                                                 3:"Latino/Hispanic American",
                                                 4:"Asian/Pacific Islander/Asian-American",
                                                 5:"Native American",
                                                 6:"Other"})


sp['Race'] = sp['Race'].replace({1:"Black/African American",
                                 2:"European/Caucasian-American",
                                 3:"Latino/Hispanic American",
                                 4:"Asian/Pacific Islander/Asian-American",
                                 5:"Native American",
                                 6:"Other"})

sp["Goal"] = sp["Goal"].replace({1:"Seemed like a fun night out",
                                 2:"To meet new people",
                                 3:"To get a date",
                                 4:"Looking for a serious relationship",
                                 5:"To say I did it",
                                 6:"Other"}) 

sp["Date"] = sp["Date"].replace({1:"Several times a week",
                                2:"Twice a week",
                                3:"Once a week",
                                4:"Twice a month",
                                5:"Once a month",
                                6:"Several times a year",
                                7:"Almost never"})

sp["Go_out"] = sp["Go_out"].replace({1:"Several times a week",
                                2:"Twice a week",
                                3:"Once a week",
                                4:"Twice a month",
                                5:"Once a month",
                                6:"Several times a year",
                                7:"Almost never"})

In [7]:
sp['Id'] = sp['Id'].astype("Int64")
sp["Partner iid"] = sp["Partner iid"].astype("Int64") 
#astype(int) ne fonctionne pas car nous avons des valeurs manquantes
 #"Int64" fonctionne
sp["Partner age"] = sp["Partner age"].astype("Int64")
sp['Age'] = sp['Age'].astype("Int64")
sp["Imprace"] = sp["Imprace"].astype("Int64")
sp["Imprelig"] = sp["Imprelig"].astype("Int64")

,Iid,Id,Gender,Idg,Condition,Wave,Round,Position,Order,Partner,Partner iid,Match,Correlation of interests,Samerace,Partner age,Partner race,Pf_o_att,Pf_o_sin,Pf_o_int,Pf_o_fun
0,1,1,Female,1,limited choice,1,10,7,4,1,11,no,0.14,no,27,European/Caucasian-American,35.00,20.00,20.00,20.00
1,1,1,Female,1,limited choice,1,10,7,3,2,12,no,0.54,no,22,European/Caucasian-American,60.00,0.00,0.00,40.00
2,1,1,Female,1,limited choice,1,10,7,10,3,13,yes,0.16,yes,22,Asian/Pacific Islander/Asian-American,19.00,18.00,19.00,18.00
3,1,1,Female,1,limited choice,1,10,7,5,4,14,yes,0.61,no,23,European/Caucasian-American,30.00,5.00,15.00,40.00
4,1,1,Female,1,limited choice,1,10,7,7,5,15,yes,0.21,no,24,Latino/Hispanic American,30.00,10.00,20.00,10.00
5,1,1,Female,1,limited choice,1,10,7,6,6,16,no,0.25,no,25,European/Caucasian-American,50.00,0.00,30.00,10.00
6,1,1,Female,1,limited choice,1,10,7,1,7,17,no,0.34,no,30,European/Caucasian-American,35.00,15.00,25.00,10.00
7,1,1,Female,1,limited choice,1,10,7,2,8,18,no,0.50,no,27,European/Caucasian-American,33.33,11.11,11.11,11.11
8,1,1,Female,1,limited choice,1,10,7,8,9,19,yes,0.28,no,28,European/Caucasian-American,50.00,0.00,25.00,10.00
9,1,1,Female,1,limited choice,1,10,7,9,10,20,no,-0.36,no,24,European/Caucasian-American,100.00,0.00,0.00,0.00
10,2,2,Female,3,limited choice,1,10,3,10,1,11,no,0.29,yes,27,European/Caucasian-American,35.00,20.00,20.00,20.00
11,2,2,Female,3,limited choice,1,10,3,9,2,12,no,0.18,yes,22,European/Caucasian-American,60.00,0.00,0.00,40.00
12,2,2,Female,3,limited choice,1,10,3,6,3,13,no,0.10,no,22,Asian/Pacific Islander/Asian-American,19.00,18.00,19.00,18.00
13,2,2,Female,3,limited choice,1,10,3,1,4,14,yes,-0.21,yes,23,European/Caucasian-American,30.00,5.00,15.00,40.00
14,2,2,Female,3,limited choice,1,10,3,3,5,15,no,0.32,no,24,Latino/Hispanic American,30.00,10.00,20.00,10.00
15,2,2,Female,3,limited choice,1,10,3,2,6,16,no,0.73,yes,25,European/Caucasian-American,50.00,0.00,30.00,10.00
16,2,2,Female,3,limited choice,1,10,3,7,7,17,no,0.60,yes,30,European/Caucasian-American,35.00,15.00,25.00,10.00
17,2,2,Female,3,limited choice,1,10,3,8,8,18,no,0.07,yes,27,European/Caucasian-American,33.33,11.11,11.11,11.11
18,2,2,Female,3,limited choice,1,10,3,4,9,19,yes,0.11,yes,28,European/Caucasian-American,50.00,0.00,25.00,10.00
19,2,2,Female,3,limited choice,1,10,3,5,10,20,no,0.39,yes,24,European/Caucasian-American,100.00,0.00,0.00,0.00

In [9]:
print(f"Nombre de sujets au total: {sp['Iid'].max()}")
print(f"Nombre de sujets par groupe de genre: {sp['Idg'].max()}")
print(f"Nombre de sujets par vague: {sp['Id'].max()}")
print(f"nombre de vagues: {sp['Wave'].max()}")

Nombre de sujets au total: 552
Nombre de sujets par groupe de genre: 44
Nombre de sujets par vague: 22
nombre de vagues: 21

In [30]:
nbre_femmes_per_vague = sp[sp['Gender'] == 'Female'].groupby('Wave')['Id'].nunique()

In [31]:
nbre_hommes_per_vague = sp[sp['Gender'] == 'Male'].groupby('Wave')['Id'].nunique()

In [11]:
moyenne_age_par_genre = sp.groupby('Gender')['Age'].mean()
moyenne_partner_age_par_genre = sp.groupby('Gender')['Partner age'].mean() #On observe que la moyenne d'age est la meme pour les deux sexes.

In [12]:
moyenne_age_par_genre

Gender
Female    26.105851
Male       26.60927
Name: Age, dtype: Float64

In [44]:
nbre_matchs_positifs_per_wave = sp[sp['Match']=='yes'].groupby('Wave')['Match'].value_counts()
nbre_matchs_positifs_per_wave

Wave  Match
1     yes       62
2     yes       62
3     yes       26
4     yes      130
5     yes       54
6     yes       10
7     yes       86
8     yes       36
9     yes      124
10    yes       30
11    yes      128
12    yes       42
13    yes       32
14    yes      126
15    yes      126
16    yes       24
17    yes       48
18    yes        6
19    yes       74
20    yes       10
21    yes      144
Name: Match, dtype: int64

In [14]:
nbre_matchs_per_samerace = sp.groupby('Samerace')['Match'].value_counts()

In [41]:
nbre_matchs_positifs_per_race = sp[sp['Match']=='yes'].groupby('Partner race')['Match'].count()
nbre_matchs_positifs_per_race

Partner race
Asian/Pacific Islander/Asian-American    267
Black/African American                    85
European/Caucasian-American              788
Latino/Hispanic American                 123
Other                                    103
Name: Match, dtype: int64

In [40]:
nbre_matchs_per_race

Partner race
Asian/Pacific Islander/Asian-American    1978
Black/African American                    420
European/Caucasian-American              4722
Latino/Hispanic American                  664
Other                                     521
Name: Match, dtype: int64

In [16]:
sp.groupby('Match')['Correlation of interests'].mean()

Match
no     0.191822
yes    0.217319
Name: Correlation of interests, dtype: float64

In [17]:
sp.groupby('Iid')['Correlation of interests'].mean()

Iid
1      0.267000
2      0.258000
3     -0.136000
4     -0.007000
5     -0.079000
         ...
548    0.048182
549    0.192727
550    0.406818
551    0.320909
552    0.460000
Name: Correlation of interests, Length: 551, dtype: float64

In [33]:
nbre_matchs_per_race

Partner race
Asian/Pacific Islander/Asian-American    1978
Black/African American                    420
European/Caucasian-American              4722
Latino/Hispanic American                  664
Other                                     521
Name: Match, dtype: int64

In [38]:
sp[sp['Match']=='yes'].groupby('Partner race')['Match'].count()

Partner race
Asian/Pacific Islander/Asian-American    267
Black/African American                    85
European/Caucasian-American              788
Latino/Hispanic American                 123
Other                                    103
Name: Match, dtype: int64

In [46]:
sp.iloc[:, 0:20].head()

,Iid,Id,Gender,Idg,Condition,Wave,Round,Position,Order,Partner,Partner iid,Match,Correlation of interests,Samerace,Partner age,Partner race,Pf_o_att,Pf_o_sin,Pf_o_int,Pf_o_fun
0,1,1,Female,1,limited choice,1,10,7,4,1,11,no,0.14,no,27,European/Caucasian-American,35.0,20.0,20.0,20.0
1,1,1,Female,1,limited choice,1,10,7,3,2,12,no,0.54,no,22,European/Caucasian-American,60.0,0.0,0.0,40.0
2,1,1,Female,1,limited choice,1,10,7,10,3,13,yes,0.16,yes,22,Asian/Pacific Islander/Asian-American,19.0,18.0,19.0,18.0
3,1,1,Female,1,limited choice,1,10,7,5,4,14,yes,0.61,no,23,European/Caucasian-American,30.0,5.0,15.0,40.0
4,1,1,Female,1,limited choice,1,10,7,7,5,15,yes,0.21,no,24,Latino/Hispanic American,30.0,10.0,20.0,10.0

In [56]:
sp.iloc[:, 10:25].head()

,Partner iid,Match,Correlation of interests,Samerace,Partner age,Partner race,Pf_o_att,Pf_o_sin,Pf_o_int,Pf_o_fun,Pf_o_amb,Pf_o_sha,Decision,Attr_o,Sinc_o
0,11,no,0.14,no,27,European/Caucasian-American,35.0,20.0,20.0,20.0,0.0,5.0,no,6.0,8.0
1,12,no,0.54,no,22,European/Caucasian-American,60.0,0.0,0.0,40.0,0.0,0.0,no,7.0,8.0
2,13,yes,0.16,yes,22,Asian/Pacific Islander/Asian-American,19.0,18.0,19.0,18.0,14.0,12.0,yes,10.0,10.0
3,14,yes,0.61,no,23,European/Caucasian-American,30.0,5.0,15.0,40.0,5.0,5.0,yes,7.0,8.0
4,15,yes,0.21,no,24,Latino/Hispanic American,30.0,10.0,20.0,10.0,10.0,20.0,yes,8.0,7.0

In [51]:
partner_preferences = pd.DataFrame(sp.loc[:, 'Pf_o_att':'Pf_o_sha'], index=sp['Iid'])

In [52]:
partner_preferences.head(15)

     Pf_o_att  Pf_o_sin  Pf_o_int  Pf_o_fun  Pf_o_amb  Pf_o_sha
Iid
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
1        60.0       0.0       0.0      40.0       0.0       0.0
2        19.0      18.0      19.0      18.0      14.0      12.0
2        19.0      18.0      19.0      18.0      14.0      12.0
2        19.0      18.0      19.0      18.0      14.0      12.0
2        19.0      18.0      19.0      18.0      14.0      12.0
2        19.0      18.0      19.0      18.0      14.0      12.0

In [54]:
sp.iloc[:, 20:40].head()

,Pf_o_amb,Pf_o_sha,Decision,Attr_o,Sinc_o,Intel_o,Fun_o,Amb_o,Shar_o,Like_o,Prob_o,Met_o,Age,Field,Race,Imprace,Imprelig,From,Income,Goal
0,0.0,5.0,no,6.0,8.0,8.0,8.0,8.0,6.0,7.0,4.0,2.0,21,Law,Asian/Pacific Islander/Asian-American,2,4,Chicago,"69,487.00",To meet new people
1,0.0,0.0,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,21,Law,Asian/Pacific Islander/Asian-American,2,4,Chicago,"69,487.00",To meet new people
2,14.0,12.0,yes,10.0,10.0,10.0,10.0,10.0,10.0,10.0,10.0,1.0,21,Law,Asian/Pacific Islander/Asian-American,2,4,Chicago,"69,487.00",To meet new people
3,5.0,5.0,yes,7.0,8.0,9.0,8.0,9.0,8.0,7.0,7.0,2.0,21,Law,Asian/Pacific Islander/Asian-American,2,4,Chicago,"69,487.00",To meet new people
4,10.0,20.0,yes,8.0,7.0,9.0,6.0,9.0,7.0,8.0,6.0,2.0,21,Law,Asian/Pacific Islander/Asian-American,2,4,Chicago,"69,487.00",To meet new people

In [57]:
subject_preferences = pd.DataFrame(sp.loc[:, 'Decision':'Met_o'], index=sp['Iid'])

In [58]:
subject_preferences.head()

,Decision,Attr_o,Sinc_o,Intel_o,Fun_o,Amb_o,Shar_o,Like_o,Prob_o,Met_o
Iid,,,,,,,,,,
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0

In [59]:
partner_preferences['Match'] = sp['Match']

In [60]:
subject_preferences['Match'] = sp['Match']

In [63]:
display(partner_preferences.head())
display(subject_preferences.head())

     Pf_o_att  Pf_o_sin  Pf_o_int  Pf_o_fun  Pf_o_amb  Pf_o_sha Match
Iid
1        60.0       0.0       0.0      40.0       0.0       0.0    no
1        60.0       0.0       0.0      40.0       0.0       0.0    no
1        60.0       0.0       0.0      40.0       0.0       0.0    no
1        60.0       0.0       0.0      40.0       0.0       0.0    no
1        60.0       0.0       0.0      40.0       0.0       0.0    no

,Decision,Attr_o,Sinc_o,Intel_o,Fun_o,Amb_o,Shar_o,Like_o,Prob_o,Met_o,Match
Iid,,,,,,,,,,,
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,no
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,no
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,no
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,no
1,no,7.0,8.0,10.0,7.0,7.0,5.0,8.0,4.0,2.0,no

In [72]:
goal_per_femme = sp[sp['Gender']=='Female'].groupby('Iid')['Goal'].unique() #goal pour chaque femme

In [73]:
goal_per_homme = sp[sp['Gender']=='Male'].groupby('Iid')['Goal'].unique() #goal pour chaque homme

In [74]:
date_per_femme = sp[sp['Gender']=='Female'].groupby('Iid')['Date'].unique()
date_per_homme = sp[sp['Gender']=='Male'].groupby('Iid')['Date'].unique()

In [75]:
go_out_per_femme = sp[sp['Gender']=='Female'].groupby('Iid')['Go_out'].unique()
go_out_per_homme = sp[sp['Gender']=='Male'].groupby('Iid')['Go_out'].unique()

In [79]:
sp['Income'].isnull().sum()*100 /sp['Income'].shape[0] #trop de missing values

48.92575793745524

In [81]:
sp.iloc[:, 40:60].head()

,Date,Go_out,Career,Sports,Tvsports,Exercise,Dining,Museums,Art,Hiking,Gaming,Clubbing,Reading,Tv,Theater,Movies,Concerts,Music,Shopping,Yoga
0,Almost never,Several times a week,lawyer,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
1,Almost never,Several times a week,lawyer,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
2,Almost never,Several times a week,lawyer,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
3,Almost never,Several times a week,lawyer,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0
4,Almost never,Several times a week,lawyer,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0

In [85]:
hobbies = pd.DataFrame(sp.loc[:, 'Sports':'Yoga'], index=sp['Iid'])

In [86]:
hobbies['Match'] = sp['Match']

In [88]:
hobbies['Gender'] = sp['Gender']

In [89]:
hobbies.head()

,Sports,Tvsports,Exercise,Dining,Museums,Art,Hiking,Gaming,Clubbing,Reading,Tv,Theater,Movies,Concerts,Music,Shopping,Yoga,Match,Gender
Iid,,,,,,,,,,,,,,,,,,,
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,no,Female
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,no,Female
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,no,Female
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,no,Female
1,9.0,2.0,8.0,9.0,1.0,1.0,5.0,1.0,5.0,6.0,9.0,1.0,10.0,10.0,9.0,8.0,1.0,no,Female

In [93]:
sp[sp['Match']=='yes'].groupby('Gender')['Exphappy'].mean()

Gender
Female    5.306333
Male      5.976642
Name: Exphappy, dtype: float64

In [94]:
sp[sp['Match']=='no'].groupby('Gender')['Exphappy'].mean()

Gender
Female    5.131133
Male      5.887074
Name: Exphappy, dtype: float64

In [95]:
sp[sp['Match']=='yes'].groupby('Gender')['Expnum'].mean()

Gender
Female    6.785276
Male      7.239521
Name: Expnum, dtype: float64

In [96]:
sp[sp['Match']=='no'].groupby('Gender')['Expnum'].mean()

Gender
Female    5.218618
Male      5.272011
Name: Expnum, dtype: float64